<p>ID: <%= user.id %></p>
<p>Username: <%= user.firstName + ' ' +user.lastName %></p>
<img src=<%= user.pictureURL %>>


<ul>
<% for(var i=0; i<ratings.length; i++) {%>
   <li><%= ratings[i].dataValues.rating %>
      <span> <%= ratings[i].dataValues.createdAt %>
      </span>
   </li>
<% } %>
</ul>